
.fix-title{
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 50px;
}

.repair-contents {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}


.repair-lists {
  width: 65vw;
}

.repair-list{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1.5px #744f062f solid;
}

.repair-title{
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.repair-content{
  font-size: 18px;
}

.vehicle-mileage{
  font-size: 14px;
  padding-top: 13px;
}

.repair-img-content {
  font-size: 10;
}

.repair-img {
  width: 32vh;
  height: 18vh;
}

.no-img-text{
  font-size: 15px;
  font-weight: bold;
  color: rgb(68, 52, 14);
}

.repair-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.repair-manufacturer {
  font-size: 3vh;
}

.repair-inspection {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
}

.new-repair-info {
  font-size: 3vh;
  line-height: 15;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

/* //vehicle_fix_index */

