.purchase-btn {
  width: 180px;
  height: 68px;
  background: #744f06b3;
  text-align: center;
  border-radius: 10px;
  top: 168px;
  left: 32px;
  position: fixed;
  padding: 8px;
  transition: all 500ms;
}

.purchase-btn:hover {
  background: #bd9034b3;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

.destroy-btn{
  display: block;
  margin-top: 110px;
  background-color: #6e6d6db2;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.edit-btn{
  background: #6e6d6d;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  padding: 7px;
  font-size: 10px;
}