a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');


/* 車種一覧 */

.vehicle-contents {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.vehicle-contents>.title {
  font-size: 15vh;

  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

.vehicle-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vehicle-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.vehicle-img-content {
  position: relative;
}

.vehicle-img {
  width: 32vh;
  height: 18vh;
}

.vehicle-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.vehicle-manufacturer {
  font-size: 3vh;
}

.vehicle-inspection {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
}

.new-vehicle-info {
  font-size: 3vh;
  line-height: 15;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

/* //商品一覧 */