.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer-logout{
  width: 100%;
  color: #fff;
  line-height: 48px;
  font-size: 25px;
}

.footer>p {
  font-size: 20px;
}