<header class='top-page-header'>
  <div class='nav'>
    <ul class='header-main'>
      <li><%= link_to 'Vehicles Fix', "/", class: "header-main-title" %></li>
      <li><%= link_to image_tag("Vehicle-fix-title.png", class:"Vehicle-fix-title-png"), "/" %></li>
    </ul>
</header>