.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #744f06b3;
  border: 1px solid #744f06b3;
  color: #fff;
  line-height: 48px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
}



.login-flash-message {
  text-align: center;
  color: 975504;
}